@font-face {
	font-family: "BTTF";
    src: url('./fonts/BTTF.ttf');
}

@font-face {
    font-family: 'BTTF';
    src: url('./fonts/bttf-webfont.woff2') format('woff2'),
         url('./fonts/bttf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --title-color : #daa520;
    --bg-box-color: rgb(255, 247, 221);
    --bg-info-color: rgb(58, 58, 58, 0.7);
    --bg-progressbar: #f2f2f2;
    --color-progressbar: #15FD00;
    --color-info: rgba(116, 115, 115, 0.7);
    --border: #F1B756;

    --bg-gryffindor: #5d0d04;
    --bg-hufflepuff: #B99936;
    --bg-ravenclaw : #005EA0;
    --bg-slytherin : #007861;

    --txt-gryffindor: #F1B756;
    --txt-hufflepuff: #474548;
    --txt-ravenclaw : rgb(185, 153, 11);
    --txt-slytherin : rgb(61, 70, 67);
  }

html, body {
	height: 100%;
	margin: 0; padding: 0;
}

body {
    width: 100%;
    background: url("images/fond.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.ludigeek {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -65px;
    text-align: center;
    font-size: 3em;
    font-family: "BTTF", Helvetica, Arial, sans-serif;
    color: var(--title-color);
    text-shadow: 8px 8px 5px #000;
    
}

.section {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.question {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 15px;
    height: 100px;
    width: 1100px;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    line-height:30px; 
    text-align:center; 
    background-color: var(--bg-box-color); 
    border: 2px solid var(--border);
    border-radius: 0.5em;
    box-shadow: 5px 5px 10px #000;
}

.reponses {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding: 15px;
    height: 250px;
    width: 1100px;
    font-size: 1.3em;
    color: black;
    background-color: var(--bg-box-color); 
    border: 2px solid var(--border);
    border-radius: 0.5em;
    box-shadow: 5px 5px 10px #000;
}

.message {
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    padding: 25px;
    height: 300px;
    width: 1100px;
    font-size: 1.7em;
    color: black;
    background-color: var(--bg-box-color); 
    border: 2px solid var(--border);
    border-radius: 0.5em;
    box-shadow: 5px 5px 10px #000;
}

.center{
    text-align: center;
}

.small{
    font-size: 0.7em;
}

.muted{
    color:rgba(0, 0, 0, 0.3);;
}

.espace {
    margin-bottom: 30px;
}

.boutons {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    height: 200px;
    width: 1000px;
}

.btn{
    margin-left: auto;
    margin-right: auto;
    font-size: 3em;
    font-family: "BTTF", Helvetica, Arial, sans-serif;
    text-decoration: none;
    border-radius: 0.5em;
    box-shadow: 5px 5px 10px #000;
}

.btn-new {
    width:350px;
    height:100px;
}

.btn-carre{
	width:200px;
    height:200px;
    font-size: 3em;
    font-family: "BTTF", Helvetica, Arial, sans-serif;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 0.5em;
    box-shadow: 5px 5px 10px #000;
}

.btn-carre:hover{
    transform: scale(1.05);
}

.btn-gry {
    background: var(--bg-gryffindor);
    color: var(--txt-gryffindor);
    border: var(--border) 1px solid;
}

.btn-ser {
    background:var(--bg-slytherin);
    color: var(--txt-slytherin);
    border: var(--border) 1px solid;
}

.btn-pou {
    background:var(--bg-hufflepuff);
    color: var(--txt-hufflepuff);
    border: var(--border) 1px solid;
}

.btn-rav {
    background:var(--bg-ravenclaw);
    color: var(--txt-ravenclaw);
    border: var(--border) 1px solid;
}

.bar {
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px; 
    font-size: 10px;
    width: 1100px;
    height: 1em;
    border-radius: 0.5em;
    position: relative;
    background: var(--bg-progressbar);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
    box-shadow: 5px 5px 10px #000;
}
    

  .bar .pourcentage {
    position: relative;
    font-size: 1em;
    background: var(--color-progressbar);
    height: 1em;
    border-radius: 0.5em;
}

.resultat {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 25px;
    height: 20%;
    width: 50%;
    font-size: 1.37em;
    font-weight: bold;
    text-align: center;
    color: black;
    background-color: var(--bg-box-color); 
    border: 2px solid var(--border);
    border-radius: 0.5em;
    box-shadow: 5px 5px 10px #000;
}

.success {
    color: rgb(0, 255, 42);
    background-color:  rgb(0, 100, 17); 
    text-shadow: 5px 5px 10px #000;
}

.lose {
    color: rgb(196, 0, 0);
    background-color:  rgb(68, 5, 5); 
    text-shadow: 5px 5px 10px #000;
}

.good{
    color: rgb(0, 100, 17);
}

.fail{
    color: rgb(255, 111, 111);
    background-color:  rgb(68, 5, 5); 
}


.resume {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 15px;
    height: 60%;
    width: 55%;
    font-size: 1em;
    color: black;
    background-color: var(--bg-box-color); 
    border: 2px solid var(--border);
    border-radius: 0.5em;
    box-shadow: 5px 5px 10px #000;
}

.footer{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 15px;
    height: 10%;
    width: 1100px;
    color: black;
    /*background-color: var(--bg-box-color); 
    border: 2px solid var(--border);
    border-radius: 0.5em;
    box-shadow: 5px 5px 10px #000;*/
}

.infos{
    position: absolute;
    width: 100%; height: 50px;
    bottom: 0; left: 0; right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    color: var(--color-info); 
    background-color: var(--bg-info-color); 
    border-radius: 0.5em;
    box-shadow: 5px 5px 10px #000;

}